.logo {
  width: 300px;
  animation-name: bounceInDown;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.images {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slogan {
  width: 300px;
  font-weight: 400;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
